@font-face {

    font-family: 'Vazir';
    src: url('../font/vazir-font-v16.1.0.zip');
    
  }

  body{
    font-family: "Vazir" !important;
    font-weight: 800;
  } 

  .icon{
    padding: 15px;
    background-color: #ebeafb;
    color: #0d6efd;
    border-radius: 15px;
    display: inline-flex;
  }

  .primary-card{
    background-color: #1b2e4e;
    color:#fff !important;
  }
  
  .main-section{
    background-color: #1b2e4e;
    color: #fff;
    
  }

  .link-none{
    text-decoration: none;
    color: black;
    font-size: 12px;
  }

  .footer-hr{
    border-bottom: 3px solid black;
    height: 35px;
  }

  .footer{
    height: 300px;
    margin-top: 100px;
  }